p,a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aquamarine;
    font-size: 72px;
    font-weight: bolder;

}
a{
    text-decoration: none;
    /*text-decoration-color: goldenrod; */
    text-shadow: 2px 2px rgb(235, 71, 71)
    
}

.link{
background-color:blue;
}

#mothers-day{
    color:pink;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}